.speech{
 
    font-family: Arial, Helvetica, sans-serif;font-size: 20px;
color:gray;
}
 
.stage-direction{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:burlywood;
    background-color:lightgreen;
}
.stage-direction:hover{
    background-color: crimson;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    color:darkcyan;
    font-size:16px;
}
.name:hover{
    color: darkolivegreen;
   box-shadow: 8px 8px 8px 5px grey;
   border: 6px double rebeccapurple;
}
 
.LORDGORING{
    color:coral;
}
.PHIPPS{
    color:crimson;
}
table,th,td{
    border: 2px dashed gray;   
}


 
table{
    
    overflow: auto;
    width: 90%;
   border-collapse: collapse; 
   height: 80px;
}
 
th{
    background-color:rgb(192, 86, 104);
    color: lavender;
}
td{
    padding: 10px;
    text-align: left;
    
}
th{
    padding: 13px;
    text-align: center;
}
tr:hover{
background-color:rgba(207, 207, 207, 0.39);
}
tr:nth-child(even){
    background-color: gray;

}
.name:hover{
    text-shadow: 2px 4px 8px tomato;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color:blue
  }